meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description', content='Dhevanthareza node js starter pack')
meta(name='author', content='Dhevanthareza')
meta(name='keyword', content='Dhevanthareza node js starter pack')
link(href='/img/logo.png', rel='icon')
title #{title !== nil ? title : 'Dhevanthareza node js starter pack'}

// Icons
link(href='/css/lib/coreui-icons.min.css', rel='stylesheet')
link(href='/css/lib/flag-icon.min.css', rel='stylesheet')
link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
link(href='/css/lib/simple-line-icons.css', rel='stylesheet')
  
// Main styles for this application
link(href='/css/coreui.css', rel='stylesheet')
link(href='/css/coreui-pace.min.css', rel='stylesheet')
link(href='/css/app.css', rel='stylesheet')
link(href='/css/lib/select2.min.css', rel='stylesheet')
link(href='/css/jquery-ui.min.css' rel='stylesheet')