extends ../layout/pages.pug
block view
  .container
    .row.justify-content-center
      .col-md-8
        .card-group
          .card.p-4
            .card-body
              h1 Welcome to dhevanthareza nodejs-starter
